# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.js

# testing
/web/coverage

# next.js
/web/.next/
/web/out/

# production
/web/build

# misc
/web/.DS_Store
*.pem

# debug
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

# local env files
/web/.env*.local

# vercel
/web/.vercel

# typescript
*.tsbuildinfo
/web/next-env.d.ts

/server/__pycache__

# Example directory
example/